In [183]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report

In [184]:
train=pd.read_csv("../input/cipdata/train.csv")
test=pd.read_csv("../input/cipdata/test.csv")

In [185]:
train.columns

Index(['Customer ID', 'Name', 'Gender', 'Age', 'Income (USD)',
       'Income Stability', 'Profession', 'Type of Employment', 'Location',
       'Loan Amount Request (USD)', 'Current Loan Expenses (USD)',
       'Expense Type 1', 'Expense Type 2', 'Dependents', 'Credit Score',
       'No. of Defaults', 'Has Active Credit Card', 'Property ID',
       'Property Age', 'Property Type', 'Property Location', 'Co-Applicant',
       'Property Price', 'Loan Sanction Amount (USD)'],
      dtype='object')

In [186]:
test.columns

Index(['Customer ID', 'Name', 'Gender', 'Age', 'Income (USD)',
       'Income Stability', 'Profession', 'Type of Employment', 'Location',
       'Loan Amount Request (USD)', 'Current Loan Expenses (USD)',
       'Expense Type 1', 'Expense Type 2', 'Dependents', 'Credit Score',
       'No. of Defaults', 'Has Active Credit Card', 'Property ID',
       'Property Age', 'Property Type', 'Property Location', 'Co-Applicant',
       'Property Price'],
      dtype='object')

In [187]:
X=train.iloc[:,:-1]
X.drop('Customer ID',axis=1,inplace=True)
X.drop('Name',axis=1,inplace=True)
X.drop('Gender',axis=1,inplace=True)
X.drop('Property ID',axis=1,inplace=True)
X

,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property Age,Property Type,Property Location,Co-Applicant,Property Price
0,56,1933.05,Low,Working,Sales staff,Semi-Urban,72809.58,241.08,N,N,3.0,809.44,0,NaN,1933.05,4,Rural,1,119933.46
1,32,4952.91,Low,Working,NaN,Semi-Urban,46837.47,495.81,N,Y,1.0,780.40,0,Unpossessed,4952.91,2,Rural,1,54791.00
2,65,988.19,High,Pensioner,NaN,Semi-Urban,45593.04,171.95,N,Y,1.0,833.15,0,Unpossessed,988.19,2,Urban,0,72440.58
3,65,NaN,High,Pensioner,NaN,Rural,80057.92,298.54,N,Y,2.0,832.70,1,Unpossessed,NaN,2,Semi-Urban,1,121441.51
4,31,2614.77,Low,Working,High skill tech staff,Semi-Urban,113858.89,491.41,N,Y,NaN,745.55,1,Active,2614.77,4,Semi-Urban,1,208567.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,38,4969.41,Low,Commercial associate,Managers,Urban,76657.90,722.34,Y,Y,2.0,869.61,0,Unpossessed,4969.41,4,Urban,1,111096.56
29996,20,1606.88,Low,Working,Laborers,Semi-Urban,66595.14,253.04,N,N,3.0,729.41,0,Inactive,1606.88,3,Urban,1,73453.94
29997,49,NaN,Low,Working,Sales staff,Urban,81410.08,583.11,N,Y,NaN,NaN,0,Active,NaN,1,Rural,1,102108.02
29998,38,2417.71,Low,Working,Security staff,Semi-Urban,142524.10,378.29,N,Y,3.0,677.27,1,Unpossessed,2417.71,4,Urban,1,168194.47
29999,63,3068.24,High,Pensioner,NaN,Rural,156290.54,693.94,N,Y,1.0,815.44,0,Active,3068.24,3,Rural,1,194512.60

In [188]:
y=train.iloc[:,-1]
y

0         54607.18
1         37469.98
2         36474.43
3         56040.54
4         74008.28
           ...
29995     68992.11
29996     46616.60
29997     61057.56
29998     99766.87
29999    117217.90
Name: Loan Sanction Amount (USD), Length: 30000, dtype: float64

In [189]:
#'Customer ID','Name','Gender','Property ID'

In [190]:
X_test=test.iloc[:,:]
X_test.drop('Customer ID',axis=1,inplace=True)
X_test.drop('Name',axis=1,inplace=True)
X_test.drop('Gender',axis=1,inplace=True)
X_test.drop('Property ID',axis=1,inplace=True)

X_test

,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property Age,Property Type,Property Location,Co-Applicant,Property Price
0,47,3472.69,Low,Commercial associate,Managers,Semi-Urban,137088.98,396.72,N,N,2.0,799.14,0,Unpossessed,3472.69,2,Urban,1,236644.5
1,57,1184.84,Low,Working,Sales staff,Rural,104771.59,463.76,Y,Y,2.0,833.31,0,Unpossessed,1184.84,1,Rural,1,142357.3
2,52,1266.27,Low,Working,NaN,Semi-Urban,176684.91,493.15,N,Y,3.0,627.44,0,Unpossessed,1266.27,1,Urban,1,300991.24
3,65,1369.72,High,Pensioner,NaN,Rural,97009.18,446.15,N,Y,2.0,833.20,0,Inactive,1369.72,1,Semi-Urban,0,125612.1
4,60,1939.23,High,Pensioner,NaN,Urban,109980.00,370.10,N,N,NaN,NaN,0,NaN,1939.23,4,Semi-Urban,1,180908.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19,1349.60,Low,Commercial associate,NaN,Semi-Urban,156766.97,500.59,Y,Y,4.0,684.32,0,Inactive,1349.60,4,Semi-Urban,1,212778.0
19996,22,2019.78,Low,Working,Core staff,Urban,47924.80,243.02,Y,Y,NaN,706.34,0,Inactive,2019.78,4,Urban,1,90816.95
19997,19,2252.03,Low,Working,Core staff,Semi-Urban,18629.88,101.88,Y,N,1.0,656.46,0,Inactive,2252.03,2,Rural,0,21566.27
19998,21,1845.35,Low,Working,NaN,Semi-Urban,95430.73,271.31,N,Y,2.0,865.46,0,Unpossessed,1845.35,1,Semi-Urban,1,120281.17
19999,21,5233.16,Low,Working,Laborers,Semi-Urban,107966.03,983.45,Y,Y,3.0,857.16,1,Active,5233.16,4,Semi-Urban,0,133425.43

In [191]:
X.columns

Index(['Age', 'Income (USD)', 'Income Stability', 'Profession',
       'Type of Employment', 'Location', 'Loan Amount Request (USD)',
       'Current Loan Expenses (USD)', 'Expense Type 1', 'Expense Type 2',
       'Dependents', 'Credit Score', 'No. of Defaults',
       'Has Active Credit Card', 'Property Age', 'Property Type',
       'Property Location', 'Co-Applicant', 'Property Price'],
      dtype='object')

In [192]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['Income Stability']=le.fit_transform(X['Income Stability'].astype(str))
X['Profession']=le.fit_transform(X['Profession'].astype(str))
X['Type of Employment']=le.fit_transform(X['Type of Employment'].astype(str))
X['Location']=le.fit_transform(X['Location'].astype(str))

X['Expense Type 1']=le.fit_transform(X['Expense Type 1'].astype(str))
X['Expense Type 2']=le.fit_transform(X['Expense Type 2'].astype(str))
X['Has Active Credit Card']=le.fit_transform(X['Has Active Credit Card'].astype(str))
X['Property Location']=le.fit_transform(X['Property Location'].astype(str))

#X['customer_id']=le.fit_transform(X['customer_id'].astype(str))
X

,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property Age,Property Type,Property Location,Co-Applicant,Property Price
0,56,1933.05,1,7,14,1,72809.58,241.08,0,0,3.0,809.44,0,3,1933.05,4,0,1,119933.46
1,32,4952.91,1,7,18,1,46837.47,495.81,0,1,1.0,780.40,0,2,4952.91,2,0,1,54791.00
2,65,988.19,0,3,18,1,45593.04,171.95,0,1,1.0,833.15,0,2,988.19,2,2,0,72440.58
3,65,NaN,0,3,18,0,80057.92,298.54,0,1,2.0,832.70,1,2,NaN,2,1,1,121441.51
4,31,2614.77,1,7,6,1,113858.89,491.41,0,1,NaN,745.55,1,0,2614.77,4,1,1,208567.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,38,4969.41,1,1,10,2,76657.90,722.34,1,1,2.0,869.61,0,2,4969.41,4,2,1,111096.56
29996,20,1606.88,1,7,8,1,66595.14,253.04,0,0,3.0,729.41,0,1,1606.88,3,2,1,73453.94
29997,49,NaN,1,7,14,2,81410.08,583.11,0,1,NaN,NaN,0,0,NaN,1,0,1,102108.02
29998,38,2417.71,1,7,16,1,142524.10,378.29,0,1,3.0,677.27,1,2,2417.71,4,2,1,168194.47
29999,63,3068.24,0,3,18,0,156290.54,693.94,0,1,1.0,815.44,0,0,3068.24,3,0,1,194512.60

In [193]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X_test['Income Stability']=le.fit_transform(X_test['Income Stability'].astype(str))
X_test['Profession']=le.fit_transform(X_test['Profession'].astype(str))
X_test['Type of Employment']=le.fit_transform(X_test['Type of Employment'].astype(str))
X_test['Location']=le.fit_transform(X_test['Location'].astype(str))

X_test['Expense Type 1']=le.fit_transform(X_test['Expense Type 1'].astype(str))
X_test['Expense Type 2']=le.fit_transform(X_test['Expense Type 2'].astype(str))
X_test['Has Active Credit Card']=le.fit_transform(X_test['Has Active Credit Card'].astype(str))
X_test['Property Location']=le.fit_transform(X_test['Property Location'].astype(str))


#X['customer_id']=le.fit_transform(X['customer_id'].astype(str))
X_test

,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,Expense Type 2,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property Age,Property Type,Property Location,Co-Applicant,Property Price
0,47,3472.69,1,0,10,1,137088.98,396.72,0,0,2.0,799.14,0,2,3472.69,2,2,1,236644.5
1,57,1184.84,1,6,14,0,104771.59,463.76,1,1,2.0,833.31,0,2,1184.84,1,0,1,142357.3
2,52,1266.27,1,6,18,1,176684.91,493.15,0,1,3.0,627.44,0,2,1266.27,1,2,1,300991.24
3,65,1369.72,0,2,18,0,97009.18,446.15,0,1,2.0,833.20,0,1,1369.72,1,1,0,125612.1
4,60,1939.23,0,2,18,2,109980.00,370.10,0,0,NaN,NaN,0,3,1939.23,4,1,1,180908.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19,1349.60,1,0,18,1,156766.97,500.59,1,1,4.0,684.32,0,1,1349.60,4,1,1,212778.0
19996,22,2019.78,1,6,3,2,47924.80,243.02,1,1,NaN,706.34,0,1,2019.78,4,2,1,90816.95
19997,19,2252.03,1,6,3,1,18629.88,101.88,1,0,1.0,656.46,0,1,2252.03,2,0,0,21566.27
19998,21,1845.35,1,6,18,1,95430.73,271.31,0,1,2.0,865.46,0,2,1845.35,1,1,1,120281.17
19999,21,5233.16,1,6,8,1,107966.03,983.45,1,1,3.0,857.16,1,0,5233.16,4,1,0,133425.43

In [194]:
#y2=le.fit_transform(y2.astype(str))

#y2
X.mean(axis = 0)

Age                                40.092300
Income (USD)                     2630.574417
Income Stability                    0.970567
Profession                          4.804900
Type of Employment                 10.315400
Location                            0.925367
Loan Amount Request (USD)       88826.333855
Current Loan Expenses (USD)       400.936876
Expense Type 1                      0.359533
Expense Type 2                      0.672667
Dependents                          2.253027
Credit Score                      739.885381
No. of Defaults                     0.193933
Has Active Credit Card              1.085267
Property Age                     2631.119440
Property Type                       2.460067
Property Location                   0.996233
Co-Applicant                       -4.743867
Property Price                 131759.680252
dtype: float64

In [195]:
X.isna().sum()

Age                               0
Income (USD)                   4576
Income Stability                  0
Profession                        0
Type of Employment                0
Location                          0
Loan Amount Request (USD)         0
Current Loan Expenses (USD)     172
Expense Type 1                    0
Expense Type 2                    0
Dependents                     2493
Credit Score                   1703
No. of Defaults                   0
Has Active Credit Card            0
Property Age                   4850
Property Type                     0
Property Location                 0
Co-Applicant                      0
Property Price                    0
dtype: int64

In [196]:
X['Income (USD)'].fillna(2630, inplace=True)
X['Current Loan Expenses (USD)'].fillna(400, inplace=True)
X['Dependents'].fillna(2, inplace=True)
X['Credit Score'].fillna(739, inplace=True)
X['Property Age'].fillna(2631, inplace=True)

In [197]:
X.isna().sum()

Age                            0
Income (USD)                   0
Income Stability               0
Profession                     0
Type of Employment             0
Location                       0
Loan Amount Request (USD)      0
Current Loan Expenses (USD)    0
Expense Type 1                 0
Expense Type 2                 0
Dependents                     0
Credit Score                   0
No. of Defaults                0
Has Active Credit Card         0
Property Age                   0
Property Type                  0
Property Location              0
Co-Applicant                   0
Property Price                 0
dtype: int64

In [198]:
X_test.isna().sum()

Age                               0
Income (USD)                    750
Income Stability                  0
Profession                        0
Type of Employment                0
Location                          0
Loan Amount Request (USD)         0
Current Loan Expenses (USD)      83
Expense Type 1                    0
Expense Type 2                    0
Dependents                     1142
Credit Score                    743
No. of Defaults                   0
Has Active Credit Card            0
Property Age                    892
Property Type                     0
Property Location                 0
Co-Applicant                      0
Property Price                    0
dtype: int64

In [199]:
X_test.mean(axis = 0)

Age                               39.940500
Income (USD)                    2536.995394
Income Stability                   0.956350
Profession                         3.835800
Type of Employment                10.216750
Location                           0.933250
Loan Amount Request (USD)      88859.076706
Current Loan Expenses (USD)      408.462359
Expense Type 1                     0.359200
Expense Type 2                     0.669150
Dependents                         2.251246
Credit Score                     738.821538
No. of Defaults                    0.189500
Has Active Credit Card             1.093200
Property Age                    2534.102003
Property Type                      2.471900
Property Location                  0.989250
dtype: float64

In [200]:
X_test['Income (USD)'].fillna(2536, inplace=True)
X_test['Current Loan Expenses (USD)'].fillna(408, inplace=True)
X_test['Dependents'].fillna(2, inplace=True)
X_test['Credit Score'].fillna(738, inplace=True)
X_test['Property Age'].fillna(2534, inplace=True)

In [201]:
y=train.iloc[:,-1]
y

0         54607.18
1         37469.98
2         36474.43
3         56040.54
4         74008.28
           ...
29995     68992.11
29996     46616.60
29997     61057.56
29998     99766.87
29999    117217.90
Name: Loan Sanction Amount (USD), Length: 30000, dtype: float64

In [202]:
y.isna().sum()

340

In [203]:
y.mean(axis = 0)

47649.342208361435

In [204]:
y.fillna(47649, inplace=True)

from sklearn.svm import SVC
svc=SVC(kernel='poly',degree=3)
svc.fit(X,y2)
print(svc.score(X,y2))

In [205]:
X_t = X_test.apply(pd.to_numeric, errors='coerce')

In [206]:
X_t.isna().sum()

Age                              0
Income (USD)                     0
Income Stability                 0
Profession                       0
Type of Employment               0
Location                         0
Loan Amount Request (USD)        0
Current Loan Expenses (USD)      0
Expense Type 1                   0
Expense Type 2                   0
Dependents                       0
Credit Score                     0
No. of Defaults                  0
Has Active Credit Card           0
Property Age                     0
Property Type                    0
Property Location                0
Co-Applicant                    77
Property Price                 168
dtype: int64

In [207]:
X_t.mean(axis = 0)

Age                                39.940500
Income (USD)                     2536.958067
Income Stability                    0.956350
Profession                          3.835800
Type of Employment                 10.216750
Location                            0.933250
Loan Amount Request (USD)       88859.076706
Current Loan Expenses (USD)       408.460440
Expense Type 1                      0.359200
Expense Type 2                      0.669150
Dependents                          2.236900
Credit Score                      738.791017
No. of Defaults                     0.189500
Has Active Credit Card              1.093200
Property Age                     2534.097454
Property Type                       2.471900
Property Location                   0.989250
Co-Applicant                        0.853486
Property Price                 133466.497151
dtype: float64

In [208]:
X_t['Property Price'].fillna(133466, inplace=True)
X_t['Co-Applicant'].fillna(1, inplace=True)

In [209]:
from sklearn.linear_model import Lasso
model = Lasso(alpha=1.0)
model.fit(X,y)

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_coordinate_descent.py:532: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 14527654508220.584, tolerance: 6896544949.552004
  positive)

Lasso()

In [210]:
y_predLassso=model.predict(X_t)

In [211]:
sample = pd.read_csv("../input/cipdata/test.csv")
sample['Loan Sanction Amount (USD)'] = y_predLassso
#sample.drop(["customer_visit_score","customer_product_search_score","customer_ctr_score","customer_stay_score","customer_frequency_score",
 #            "customer_product_variation_score","customer_order_score","customer_affinity_score","customer_active_segment","X1"], axis = 1, inplace = True) 
sample.drop(['Age', 'Income (USD)', 'Income Stability', 'Profession',
       'Type of Employment', 'Location', 'Loan Amount Request (USD)',
       'Current Loan Expenses (USD)', 'Expense Type 1', 'Expense Type 2',
       'Dependents', 'Credit Score', 'No. of Defaults',
       'Has Active Credit Card', 'Property Age', 'Property Type',
       'Property Location', 'Co-Applicant','Name','Gender','Property ID','Property Price'], axis = 1, inplace = True) 



sample.to_csv('Predictions.csv', header=True, index=False)